#titleFot{
    color: gray;
}

img[src*="#logoEstilo"] {
    width:60%;
 }

 #contetImgMario{
     display: flex;
 }

 #contFoto{
     width: 15%;
     margin-right: 2%;
 }

 #textFoto{
     margin: 2%;
 }

 @media screen and (min-width: 768px) {
    #contFoto{
        width: 12%!important;
        margin-right: 2%;
    }

    
 #textFoto{
     font-size: 1.5em;
    margin: 1%;
    margin-top: 2%;
}
  }