nav .md-logo{
  width: 12%;
}
nav .md-logo img{
  width: 100%!important;
  height: 35px!important;
}

#titleFot{
    color: gray;
}

img[src*="#logoEstilo"] {
    width:60%;
 }

 #contetImgMario{
     display: flex;
 }

 #contFoto{
     width: 15%;
     margin-right: 2%;
 }

 #textFoto{
     margin: 2%;
 }

 .iconosRedes{
     text-align: right!important;
     font-size: 1.2em!important;
}

#areas-del-conocimiento{
    margin-bottom: 2%!important;
}

 @media screen and (min-width: 768px) {
    #contFoto{
        width: 12%!important;
        margin-right: 2%;
    }

    
 #textFoto{
     font-size: 1.5em;
    margin: 1%;
    margin-top: 2%;
}
  }

  @keyframes octoUML {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }

  .octoUML {
    animation: octoUML 1000ms infinite;
  }